<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_cham_cong_root" name="Chấm công" sequence="20" web_icon="cham_cong,static/description/icon.png"/>
    <menuitem id="menu_cham_cong_hang_ngay" name="Chấm công hàng ngày" parent="menu_cham_cong_root" action="action_cham_cong_hang_ngay" sequence="10"/>
    <menuitem id="menu_chot_cong_thang" name="Chốt công tháng" parent="menu_cham_cong_root" action="action_chot_cong_thang" sequence="20"/>
</odoo>
